{% extends "tabframe.html" %}


{% block table_content %}
	<div class="content inner-container col_left">
	<div id="filterui" class="filterui">
		<form class="form-inline mr-auto">
		  <input id="filterinput" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		  <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
		</form>
	</div>		
                        <div class="form-group">
                                <div class="col-sm-10">
              				<form id="searchsubmit" class="form-horizontal query-form" method="post" action="{{ url_for('get_data') }}">
                                                <input type="submit" name="search" class="btn btn-success" value="Load Data"/>
                                                        <div class="btn-group" role="group">
                                                                <button id="loadoptionsbutton" id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Load Options <i class="arrow down"></i>
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									<input id="subdomainradio" type="radio" name="datatype" value="subdomain" checked>Subdomain<br>
									<input id="portscanradio" type="radio" name="datatype" value="portscan">Portscan<br>
									<input id="loadcheckbox" type="checkbox" name="load" value="true" checked>Load<br>
								</div>
								
                                                        </div>
					</form>
                                </div>
                        </div>
		<div class="btn-group" role="group">
			<button id="viewoptionsbutton" id="btnGroupDrop2" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				View Options <i class="arrow down"></i>
			</button>

			<div id="viewoptionsdropdown" class="dropdown-menu" aria-labelledby="btnGroupDrop2">
			</div>
		</div>

		<div class="leftoutput">
			{% block tablepill_content %}
			{% endblock %}

		</div>



	</div>




	<div class="content inner-container col_right">
		<h3>ScanData</h3>
		<div class="resultcontrol">
		</div>

		<div class="resultoutput">
			<div id="downloadlink"></div>
			<iframe id="iframeclipboard" class="embed-responsive-item raas-iframe" src="{{ iframeclipboard }}" frameBorder=0></iframe>
		</div>
	</div>

{% endblock %}
