{% extends "base.html" %}


{% block tab_content %}
<ul class="nav nav-tabs" id="navtabs">
  <li class="active"><a data-toggle="tab" href="#tooltab">ToolControl</a></li>
  <li><a data-toggle="tab" href="#threadtab">Running Jobs</a></li>
  <li><a data-toggle="tab" href="#tabletab">Data Tables</a></li>
  <li><a data-toggle="tab" href="#hosttab">Host Overview</a></li>
  <li><a data-toggle="tab" href="#filetab">File Analysis</a></li>
</ul>

<div class="tab-content">
	   <div id="tooltab" class="tab-pane fade">
	        {% block tool_content %}
		{% endblock %}
	   </div>
	   <div id="threadtab" class="tab-pane fade">
	  	{% block thread_content %}
		{% endblock %}
	  </div>
	  <div id="tabletab" class="tab-pane fade in active">
		{% block table_content %}
		{% endblock %}
	  </div>
	  <div id="hosttab" class="tab-pane fade">
		{% block host_content %}
		{% endblock %}
	  </div>
	  <div id="filetab" class="tab-pane fade">
	  	{% block file_content %}
		{% endblock %}

	  </div>
</div>

{% endblock %}
