{% extends "index.html" %}

{% block tablepill_content %}
{{title}}
<ul class="nav nav-pills nav-justified">
    {% for x in range(df_dict.get('number_types',1)) %}
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{df_dict.get('type_'+x|string,'')}}
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a data-toggle="pill" href="#{{df_dict.get('master_name_'+x|string,'None')}}">{{df_dict.get('master_name_'+x|string,'None')}}<div class="numbercircle">{{df_dict.get('master_size_'+str(x),'')}}</div></a></li>
      <li><a data-toggle="pill" href="#{{df_dict.get('new_name_'+str(x),'None')}}">{{df_dict.get('new_name_'+str(x),'None')}}<div class="numbercircle">{{df_dict.get('new_size_'+str(x),'')}}</div></a></li>
      <li><a data-toogle="pill" href="#{{df_dict.get('temp_name_'+str(x),'None')}}">{{df_dict.get('temp_name_'+str(x),'None')}}<div class="numbercircle">{{df_dict.get('temp_size'+str(x),'')}}</div></a></li>
    </ul>
  </li>
  {% endfor %}
</ul>

<div class="tab-content">

  {% for x in range(df_dict.get('number_types',1)) %}
	<div id="#{{df_dict.get('master_name_'+str(x),'None')}}" class="tab-pane fade">
		<iframe id="leftiframe" class="raas-iframe leftiframe" src="{{ df_dict.get('master_html_'+str(x),'') }}" frameBorder=0></iframe>
	</div>
	<div id="#{{df_dict.get('new_name_'+str(x),'None')}}" class="tab-pane fade">
		<iframe id="leftiframe" class="raas-iframe leftiframe" src="{{ df_dict.get('new_html_'+str(x),'') }}" frameBorder=0></iframe>
	</div>
        <div id="#{{df_dict.get('master_name_'+str(x),'None')}}" class="tab-pane fade">
		<iframe id="leftiframe" class="raas-iframe leftiframe" src="{{ df_dict.get('temp_html_'+str(x),'') }}" frameBorder=0></iframe>
	</div>


  {% endfor %}
</div>
{% endblock %}
